<h2 class="major"><i class="fab fa-chrome"></i> Browser</h2>
<p>Il browser è quel programma che utilizzate per navigare su internet. Il più usato oggi è Google Chrome. <b>Non usate Google Chrome</b>.<br /><a href="https://www.lealternative.net/2019/10/21/alternative-a-google-chrome/" target="_blank" class="linkorange">Qui trovi il nostro articolo completo.</a></p>
<h2>Browser desktop <i class="fas fa-desktop"></i><h2>
<h3><i class="fab fa-firefox"></i> <a href="https://www.mozilla.org/it/firefox/browsers/" target="_blank" class="linkorange">Firefox</a></h3>
<p>Vero avversario di Chrome, da <a href="https://www.lealternative.net/2021/02/03/perche-usare-firefox/" target"_blank">settare</a> opportunatamente. Esiste una versione <i>Mozilla-free</i> chiamata <b><a href="https://www.waterfox.net/" target="_blank" class="linkorange">Waterfox</a></b>.</p>
<h3><i class="fas fa-paw"></i> <a href="https://brave.com/" target="_blank" class="linkorange">Brave</a></h3>
<p>Ottimo per la privacy, con blocco totale delle pubblicità preinstallato e zero impostazioni da settare. Usa lo stesso motore di Chrome.</p>
<h3><i class="fas fa-seedling"></i> <a href="https://www.torproject.org/" target="_blank" class="linkorange">Tor Browser</a></h3>
<p>Anonimato e sicurezza, un po’ lenta la navigazione ma è il più sicuro e completo. Non del tutto adatto per la navigazione quotidiana.</p>
<h2>Browser Android <i class="fab fa-android"></i></h2>	
<h3><i class="far fa-window-restore"></i> <a href="https://www.bromite.org/" target="_blank" class="linkorange">Bromite</a></h3>
<p>Migliore alternativa con blocco delle pubblicità integrato. Lo trovate solo su <a href="https://www.bromite.org/fdroid" target="_blank" class="linkorange">F-Droid</a>.</p>
<h3><i class="fas fa-shield-alt"></i> <a href="https://www.stoutner.com/privacy-browser/" target="_blank" class="linkorange">Privacy Browser</a></h3>
<p>Super personalizzabile e ottimo anche per la privacy. Lo trovate sul <a href="https://play.google.com/store/apps/details?id=com.stoutner.privacybrowser.standard" target="_blank" class="linkorange">Play Store</a> e su <a href="https://f-droid.org/repository/browse/?fdid=com.stoutner.privacybrowser.standard" target="_blank" class="linkorange">F-Droid</a>.</p>
<h3><i class="fab fa-firefox"></i> <a href="https://www.mozilla.org/it/firefox/browsers/" target="_blank" class="linkorange">Firefox</a></h3>
<p>Firefox è sempre una certezza ma ricordatevi di installare almeno <b>uBlock</b>. Provate anche <a href="https://f-droid.org/en/packages/org.mozilla.fennec_fdroid/" target="_blank" class="linkorange">Fennec</a> e <a href="https://play.google.com/store/apps/details?id=org.mozilla.focus" target="_blank" class="linkorange">Firefox Focus</a>.</p>
<h3><i class="fas fa-water"></i> <a href="https://duckduckgo.com/app" target="_blank" class="linkorange">DuckDuckGo</a></h3>
<p>Se già usate questo motore di ricerca questo è il browser per voi! Disponibile sia su <a href="https://play.google.com/store/apps/details?id=com.duckduckgo.mobile.android" target="_blank" class="linkorange">Play Store</a> che su <a href="https://f-droid.org/en/packages/com.duckduckgo.mobile.android/" target="_blank" class="linkorange">F-Droid</a>.</p>
<h3><i class="fas fa-paw"></i> <a href="https://brave.com/" target="_blank" class="linkorange">Brave</a></h3>
<p>Un po’ inferiore rispetto alla versione desktop, tuttavia è un browser ottimo per proteggere la privacy. Lo trovate solo sul <a href="https://play.google.com/store/apps/details?id=com.brave.browser" target="_blank" class="linkorange">Play Store</a>.</p>
<h3><i class="fas fa-seedling"></i> <a href="https://www.torproject.org/" target="_blank" class="linkorange">Tor Browser</a></h3>
<p>Anonimato e sicurezza con una estrema semplicità d’uso! Disponibile sul <a href="https://play.google.com/store/apps/details?id=org.torproject.torbrowser" target="_blank" class="linkorange">Play Store</a>.</p>
<h2>Browser iOS <i class="fab fa-apple"></i></h2>	
<h3><i class="fab fa-firefox"></i> <a href="https://apps.apple.com/it/app/browser-web-firefox/id989804926" target="_blank" class="linkorange">Firefox</a></h3>
<p>Come sempre usare Firefox è sicuramente una buona idea, anche su iOS. Potete provare anche <a href="https://apps.apple.com/it/app/firefox-focus/id1055677337" target="_blank" class="linkorange">Firefox Focus</a>.</p>
<h3><i class="fas fa-water"></i> <a href="https://apps.apple.com/it/app/duckduckgo-privacy-browser/id663592361" target="_blank" class="linkorange">DuckDuckGo</a></h3>
<p>Se già usate <b>DuckDuckGo</b> come motore di ricerca, questo è il browser che fa per voi.</p>
<h3><i class="fas fa-paw"></i> <a href="https://apps.apple.com/it/app/brave-browser-web-vpn-adblock/id1052879175" target="_blank" class="linkorange">Brave</a></h3>
<p>Meno performante rispetto a desktop e Android, comunque un’alternativa sempre valida. Purtroppo su iOS non si possono usare i <i>Rewards</i>.</p>
<h3><i class="fas fa-snowflake"></i> <a href="https://apps.apple.com/it/app/snowhaze/id1121026941" target="_blank" class="linkorange">Snowhaze</a></h3>
<p>Un browser alternativo molto interessante che blocca le pubblicità e i traccianti meglio di altri più blasonati.</p>
<h3><i class="fas fa-seedling"></i> <a href="https://apps.apple.com/it/app/onion-browser/id519296448" target="_blank" class="linkorange">Onion Browser</a></h3>
<p>Per navigare nella rete Tor su iOS questo è sicuramente il browser migliore. Sicurezza e anonimato!</p>