<h2 class="major"><i class="fas fa-search"></i> Motore di ricerca</h2>
<p>Il motore di ricerca è quello che viene usato per cercare le cose su internet. Il più famoso di tutti è Google.</b>.<br /><a href="https://www.lealternative.net/2019/10/18/alternative-a-google-search/" target="_blank" class="linkorange">Qui trovi il nostro articolo completo.</a></p>
<h3><i class="fas fa-water"></i> <a href="https://duckduckgo.com/" target="_blank" class="linkorange">DuckDuckGo</a></h3>
<p>L’alternativa più conosciuta e una delle più apprezzate.</p>
<h3><i class="fas fa-tree"></i> <a href="https://ecosia.org/" target="_blank"class="linkorange">Ecosia</a></h3>
<p>Un ottimo compromesso per chi ama l'ambiente: l'80% dei ricavati di Ecosia sono destinati al riforestamento ambientale.</p>
<h3><i class="fas fa-globe"></i> <a href="https://www.searchforplanet.org/" target="_blank" class="linkorange">Search For Planet</a></h3>
<p>Non sapete quale motore di ricerca etico utilizzare? Search For Planet ne userà uno diverso ogni volta che lo provate!</p>
<h3><i class="fas fa-coins"></i> <a href="https://presearch.org/" target="_blank" class="linkorange">Presearch</a></h3>
<p>Un interessante motore di ricerca, open source e decentralizzato. Inoltre potrete venire pagati con la loro criptovaluta PRE per le vostre ricerche.</p>
<h3><i class="fas fa-globe-europe"></i> <a href="https://www.qwant.com/" target="_blank" class="linkorange">Qwant</a></h3>
<p>Uno dei rari motori di ricerca europei con idee interessanti come ad esempio <a href="https://www.qwantjunior.com/" target="_blank" class="linkorange">Qwant Junior</a>.</p>
<h3><i class="fas fa-mountain"></i> <a href="https://swisscows.ch/" target="_blank" class="linkorange">Swisscows</a></h3>
<p>Motore di ricerca svizzero, privacy e family-friendly, è infatti impossibile trovare contenuti violenti o espliciti.</p>
<h3><i class="fas fa-play-circle"></i> <a href="https://www.startpage.com/" target="_blank" class="linkorange">Startpage</a></h3>
<p>Se siete abituati con Google allora Startpage potrebbe tornarvi più che utile. È infatti molto utile da utilizzare perché vi permette di guardare i risultati di Google senza usare direttamente Google.</p>
<h3><i class="fas fa-paw"></i> <a href="https://search.brave.com/" target="_blank" class="linkorange">Brave Search</a></h3>
<p>Il browser Brave ha deciso di mettere il turbo e di aprire anche un motore di ricerca. È ancora in <i>beta</i> ma funziona bene e sembra molto interessante.</p>