<h2 class="major"><i class="fas fa-comments"></i> Chat</h2>
<p>Il meraviglioso mondo delle chat. Negli ultimi anni Whatsapp la fa da padrona, ma non è sempre stato così. Vediamo subito qualche alternativa a Whatsapp e, poco più sotto, anche delle alternative che utilizzano il protocollo aperto <b>Matrix</b> e <b>XMPP</b>. <br /><a href="https://www.lealternative.net/2020/01/09/alternative-a-whatsapp/" target="_blank" class="linkorange">Qui trovi il nostro articolo completo.</a></p>
<h2>Alternative a Whatsapp<h2>
<h3><i class="fas fa-comments"></i> <a href="https://www.signal.org/" target="_blank" class="linkorange">Signal</a></h3>
<p>Ottima alternativa, consigliata anche da Snowden per la sua forte crittografia.</p>
<h3><i class="fab fa-telegram-plane"></i> <a href="https://telegram.org/" target="_blank" class="linkorange">Telegram</a></h3>
<p>È il compromesso per eccellenza. Le applicazioni sono tutte open source.</p>
<h3><i class="fas fa-comments"></i> <a href="https://threema.ch/en/" target="_blank" class="linkorange">Threema</a></h3>
<p>Applicazione svizzera per le comunicazioni. A pagamento e, da qualche tempo, anche open source.</p>
<h3><i class="fas fa-comments"></i> <a href="https://getsession.org/" target="_blank" class="linkorange">Session</a></h3>
<p>Ottima applicazione open source che non richiede il numero di telefono per l'utilizzo.</p>
<h3><i class="fas fa-comments"></i> <a href="https://tox.chat/" target="_blank" class="linkorange">Tox</a></h3>
<p>Applicazione open che utilizza tecnologia P2P.</p>
<h3><i class="fas fa-inbox"></i> <a href="https://delta.chat/it/" target="_blank" class="linkorange">Delta Chat</a></h3>
<p>Idea folle e geniale. Utilizzare le email come sistema di messaggistica instantanea? Con Delta Chat è possibile.</p>
<h3><i class="fas fa-comments"></i> <a href="https://wire.com/en/" target="_blank" class="linkorange">Wire</a></h3>
<p>App professionale sia gratuita che a pagamento.</p>
<h3><i class="fas fa-hashtag"></i> <a href="https://briarproject.org/" target="_blank" class="linkorange">Briar</a></h3>
<p>Molto interessante: sfrutta il P2P e può funzionare anche senza internet con i contatti nelle vicinanze.</p>
<h2>Protocollo Matrix</h2>
<p>Matrix è un protocollo aperto piuttosto recente che mira a migliorare il protocollo XMPP.</p>
<h2>Matrix Server <i class="fas fa-server"></i></h2>
<p><b><a href="https://matrix.org/docs/projects/try-matrix-now/" target="_blank" class="linkorange">Matrix.org</a></b>, è il server ufficiale del progetto Matrix.</p>
<p><b><a href="https://chat.mozilla.org/" target="_blank" class="linkorange">Mozilla</a></b>, il server Matrix della fondazione Mozilla.</p>
<p><b><a href="https://aria-net.org/SitePages/Portal/HomeServer.aspx" target="_blank" class="linkorange">Aria Network</a></b>, server pubblico per Matrix offerto da Aria Network.</p>
<p><b><a href="https://tchncs.de/" target="_blank" class="linkorange">tchncs</a></b>, finanziato da donatori, offre diversi servizi tra cui Matrix.</p>
<h2>Matrix Applicazioni <i class="fas fa-mobile"></i></h2>
<h3><i class="fas fa-comments"></i> <a href="https://element.io/" target="_blank" class="linkorange">Element</a></h3>
<p>È l'applicazione ufficiale e di riferimento di Matrix.</p>
<h3><i class="fas fa-comments"></i> <a href="https://fluffychat.im/" target="_blank" class="linkorange">FluffyChat</a></h3>
<p>Applicazione per Matrix con una grafica più amichevole.</p>
<h3><i class="fas fa-comments"></i> <a href="https://schildi.chat/" target="_blank" class="linkorange">SchildiChat</a></h3>
<p>Pensata per assomigliare il più possibile alle chat classiche.</p>
<h2>Protocollo XMPP</h2>
<p>Protocollo aperto storico che esiste dal 1999: sicuro e affidabile. Per utilizarlo potete scegliere uno dei tanti provider XMPP da questa lista.</p>
<h2>XMPP Server <i class="fas fa-server"></i></h2>
<p><b><a href="https://disroot.org/en/services/email" target="_blank" class="linkorange">Disroot</a></b>, oltre alle email viene creato anche un user per XMPP.</p>
<p><b><a href="https://tchncs.de/" target="_blank" class="linkorange">tchncs</a></b>, finanziato da donatori, offre diversi servizi tra cui XMPP.</p>
<p><b><a href="https://www.3x1t.org/converse/" target="_blank" class="linkorange">Progetto EXIT</a></b>, attivisti italiani che offrono diversi servizi.</p>
<p><b><a href="https://mov.im/" target="_blank" class="linkorange">Movim</a></b>, istanza con una propria applicazione (<a href="https://f-droid.org/packages/com.movim.movim/" target="_blank" class="linkorange">F-Droid</a>) che permette di utilizzare il servizio come microbloggin.</p>
<p><b><a href="https://jabber.systemli.org/" target="_blank" class="linkorange">systemli.org</a></b>, offrono anche molti <a href="https://www.systemli.org/en/service/" target="_blank" class="linkorange">altri servizi</a> oltre XMPP.</p>
<p><b><a href="https://www.autistici.org/get_service" target="_blank" class="linkorange">Autistici</a></b>, è necessario richiedere il servizio.</p>
<p><b><a href="https://riseup.net/it/email" target="_blank" class="linkorange">Riseup</a></b>, servizio attivabile solo su invito.</p>
<h2>XMPP Applicazioni <i class="fas fa-mobile"></i></h2>
<h3><i class="fas fa-comments"></i> <a href="https://conversations.im/" target="_blank" class="linkorange">Conversations</a></h3>
<p>Applicazione per Android, disponibile gratuitamente su <a href="https://f-droid.org/it/packages/eu.siacs.conversations/" target="_blank" class="linkorange">F-Droid</a> e a pagamento sul <a href="https://play.google.com/store/apps/details?id=eu.siacs.conversations" target="_blank" class="linkorange">Play Store</a>.</p>
<h3><i class="fas fa-comments"></i> <a href="https://blabber.im/" target="_blank" class="linkorange">Blabber</a></h3>
<p>Applicazione per Android, disponibile gratuitamente su <a href="https://f-droid.org/de/packages/de.pixart.messenger/" target="_blank" class="linkorange">F-Droid</a> e sul <a href="https://play.google.com/store/apps/details?id=im.blabber.messenger" target="_blank" class="linkorange">Play Store</a>.</p>
<h3><i class="fas fa-comments"></i> <a href="https://gajim.org/" target="_blank" class="linkorange">Gajim</a></h3>
<p>Applicazione desktop multipiattaforma, disponibile per <a href="https://gajim.org/download/" target="_blank" class="linkorange">Windows</a>, <a href="https://gajim.org/download/" target="_blank" class="linkorange">macOS</a> e <a href="https://gajim.org/download/" target="_blank" class="linkorange">Linux</a>.</p>
<h3><i class="fas fa-comments"></i> <a href="https://siskin.im/" target="_blank" class="linkorange">Siskin IM</a></h3>
<p>Applicazione per <a href="https://apps.apple.com/app/tigase-messenger/id1153516838" target="_blank" class="linkorange">iOS</a>.</p>
<h3><i class="fas fa-comments"></i> <a href="https://monal.im/" target="_blank" class="linkorange">Monal IM</a></h3>
<p>Altra applicazione per <a href="https://itunes.apple.com/us/app/monal-free-xmpp-chat/id317711500?mt=8" target="_blank" class="linkorange">iOS</a> open source e gratuita.</p>