<h2 class="major"><i class="fas fa-at"></i> Email</h2>
<p>Cambiare email è <a href="https://www.lealternative.net/2021/07/19/come-andarsene-da-gmail/" target="_blank" class="linkorange">più facile</a> e più importante di quanto si creda, ecco i nostri suggerimenti. Tutti i nostri consigli sono studiati per evitare soprattutto la targhettizzazione da parte di aziende pubblicitarie. Questi provider <b>non vendono né utilizzano i vostri dati</b>. Nessuno di questi provider vi renderà invece <i>invisibili</i> agli occhi di agenti governativi o attacchi mirati ad alto livello. <a href="https://www.lealternative.net/2019/10/28/alternative-a-gmail/" target="_blank" class="linkorange">Qui trovi il nostro articolo completo.</a></p>
<h3><i class="fas fa-lock"></i> <a href="https://protonmail.com/" target="_blank" class="linkorange">ProtonMail</a></h3>
<p>Ottima alternativa svizzera completamente open source. Mail crittografate e possibilità di utilizzare PGP. Potete sfruttare il loro dominio (e anche <b>@pm.me</b>) oppure usarla con un dominio personalizzato. Attenzione che ad oggi la ricerca nei messaggi non è possibile: potete cercare solo nell'oggetto delle email. IMAP disponibile solo su desktop per via della crittografia.</p>
<h3><i class="fas fa-key"></i> <a href="https://tutanota.com/it/" target="_blank" class="linkorange">Tutanota</a></h3>
<p>Molto più economica di ProtonMail, nasce in Germania e utilizza una crittografia proprietaria (non compatibile con PGP). Potete usare il loro dominio (o anche <b>@tuta.io</b>) oppure un dominio personalizzato. No IMAP per via della crittografia.</p>
<h3><i class="far fa-envelope"></i> <a href="https://posteo.de/" target="_blank" class="linkorange">Posteo</a></h3>
<p>Molto economica (parte da 1€ al mese), possibilità di usare IMAP ma non è possibile usare un proprio dominio.</p>
<h2>Altri provider</h2>
<p>La lista è molto lunga perché sono tante le aziende di cui vale la pena parlare. Ecco altri nostri consigli, si assomigliano tutti in quanto sicurezza e privacy. Si differenziano solo da costo e servizi offerti. La lista non è in ordine di preferenza:</p>
<p><a href="https://mailbox.org/en/" target="_blank" class="linkorange">Mailbox</a>, mail tedesca affidabile.</p>
<p><a href="https://www.startmail.com/en/" target="_blank" class="linkorange">StartMail</a>, ottima mail (un po' cara) con server in Olanda.</p>
<p><a href="https://disroot.org/en/services/email" target="_blank" class="linkorange">Disroot</a>, mail gratuita e progetto mantenuto da volontari.</p>
<p><a href="https://www.autistici.org/get_service" target="_blank" class="linkorange">Autistici</a>, gratuito e progetto mantenuto da volontari. Servizio da richiedere.</p>
<p><a href="https://riseup.net/it/email" target="_blank" class="linkorange">Riseup</a>, mail gratuita e progetto gestito e mantenuto da attivisti. Servizio attivabile solo su invito.</p>
<p><a href="https://runbox.com/" target="_blank" class="linkorange">Runbox</a>, provider interessante con server in Norvegia.</p>
<p><a href="https://mailfence.com/" target="_blank" class="linkorange">Mailfence</a>, storico provider con sede in Belgio.</p>
<p><a href="https://kolabnow.com/" target="_blank" class="linkorange">Kolab Now</a>, provider con sede in Svizzera, abbastanza caro.</p>
<p><a href="https://www.thexyz.com/" target="_blank" class="linkorange">Thexyz</a>, provider canadese con costi non eccessivi.</p>
<h2>Dominio personalizzato</h2>
<p>Questi che elenchiamo sono invece provider che offrono <b>solo</b> posta con un dominio personalizzato:</p>
<p><a href="https://infomaniak.com/" target="_blank" class="linkorange">Infomaniak</a>, una delle nostre preferite. Mail a prezzi bassissimi con una webmail eccellente. Server in Svizzera. Storage illimitato.</p>
<p><a href="https://soverin.net/" target="_blank" class="linkorange">Soverin</a>, provider olandese che offre email con 25GB disponibili.</p>
<p><a href="https://www.migadu.com/" target="_blank" class="linkorange">Migadu</a>, provider svizzero con server in Francia. Attenzione: invio e ricezioni di mail limitati.</p>
<p><a href="https://www.gandi.net/en" target="_blank" class="linkorange">Gandi.net</a>, provider francese che registra anche domini. Per ogni dominio 2 caselle con 3GB.</p>
<h2>Email applicazioni <i class="fas fa-mobile"></i></h2>
<p>La maggior parte dei provider email (ProtonMail e Tutanota no) utilizzano il protocollo IMAP. Esempio: se avete Gmail non siete obbligati a usare il programma Gmail per leggere la posta, potete usarne qualunque altro programma. Ecco quelli che suggeriamo.</p>
<h3><i class="far fa-envelope-open"></i> <a href="https://k9mail.app/" target="_blank" class="linkorange">K-9 Mail</a></h3>
<p>Eccellente client email open source con una grafica bella e moderna. Disponibile su <a href="https://play.google.com/store/apps/details?id=com.fsck.k9" target="_blank" class="linkorange">Play Store</a> e su <a href="https://f-droid.org/packages/com.fsck.k9/" target="_blank" class="linkorange">F-Droid</a>.</p>
<h3><i class="far fa-envelope-open"></i> <a href="https://email.faircode.eu/" target="_blank" class="linkorange">FairEmail</a></h3>
<p>Client super professionale con tantissime opzioni disponibili. Gratuito e con versione premium (donazione minima 5$). Disponibile su <a href="https://play.google.com/store/apps/details?id=eu.faircode.email" target="_blank" class="linkorange">Play Store</a> e su <a href="https://f-droid.org/en/packages/eu.faircode.email/" target="_blank" class="linkorange">F-Droid</a>.</p>
<h2>Inoltro anonimo</h2>
<p>Per non dare la propria email a tutti potete provare a utilizzare degli inoltri automatici. Potrete creare infinite caselle email (anche con dominio personalizzato) che verranno tutte inoltrate al vostro indirizzo principale. Un ottimo metodo per contrastare spammer e malintenzionati:</p>
<h3><i class="fas fa-user-secret"></i> <a href="https://anonaddy.com/" target="_blank" class="linkorange">AnonAddy</a></h3>
<p>La nostra preferita. Open source e non eccessivamente cara. Ci sono tre livelli di iscrizione: gratuita, 12€ oppure 36€. Funziona benissimo.</p>
<h3><i class="fas fa-envelope-open-text"></i> <a href="https://simplelogin.io/" target="_blank" class="linkorange">SimpleLogin</a></h3>
<p>Open source e meno cara di AnonAddy (30€ l'anno), utilizzabile anche gratuitamente. Molto utile e il funzionamento è molto simile a quello di AnonAddy.</p>