<h2 class="major"><i class="fab fa-google"></i> microG</h2>
<p>Vuoi provare una delle alternative ad Android come CalyxOS, iodé, /e/ oppure direttamente LineageOS ma non sei sicuro che le applicazioni che ti servono funzionino a dovere?</p>
<p>Per non rendere questa tabella infinitamente lunga abbiamo deciso di inserire <b>esclusivamente le applicazioni che danno dei problemi</b>, dunque se non vedete la vostra applicazione preferita in questa tabella avete buone possibilità che funzioni senza problemi! Vi aspettiamo sempre sul nostro <a href="https://t.me/LeAlternativeChat" target="_blank" class="linkorange">gruppo Telegram</a> o nella nostra <a href="https://matrix.to/#/%23LeAlternativeGruppo:matrix.org" target="_blank" class="linkorange">stanza Matrix</a> collegata per eventuali richieste e domande!</p>
<p style="font-size:0.7em"><b>Legenda:</b><br />
<b>microG:</b> <b><font color="#e15808">X</font></b> non funziona | <b><font color="#e15808">?</font></b> non testato | <b><font color="#e15808">✓</font></b> funziona almeno parzialmente (con eventuali note)<br />
<b>Nota bene:</b><br />
Sistemi operativi come <b><a href="https://calyxos.org/" target="_blank" class="linkorange">CalyxOS</b></a>, <b><a href="https://e.foundation/" target="_blank" class="linkorange">/e/</b></a>, <b><a href="https://iode.tech/" target="_blank" class="linkorange">iodé</b></a> hanno già microG installato quindi per questi smartphone tenete conto della colonna <b>con microG</b>.</p>
<table>
<thead>
  <tr>
    <th width="20%">APP</th>
    <th width="22%"><center>SENZA MICROG</center></th>
    <th width="20%"><center>CON MICROG</center></th>
    <th width="38%">NOTE</th>
  </tr>
</thead>
  <tr>
    <th>BancoPosta</th>
    <th><center>✓</center></th>
    <th><center>?</center></th>
    <th><p class="note">Non funzionano le notifiche. Non funzionano le mappe per cercare uffici postali e ATM. Non è possibile richiedere i ticket</p></th>
  </tr>  
  <tr>
    <th>Enjoy | Eni</th>
    <th><center>X</center></th>
    <th><center>X</center></th>
    <th><p style="font-size:0.8em">Non carica mai le mappe</p></th>
  </tr>
  <tr>
    <th>Intesa Sanpaolo</th>
    <th><center>X</center></th>
    <th><center>X</center></th>
    <th><p style="font-size:0.7em">Non parte, errore SafetyNet</p></th>
  </tr>
  <tr>
    <th>Mobile Banking UniCredit</th>
    <th><center>X</center></th>
    <th><center>✓</center></th>
    <th><p style="font-size:0.8em">Con microG non funziona lo sblocco con fingerprint</p></th>
  </tr>
  <tr>
    <th>PayPal</th>
    <th><center>✓</center></th>
    <th><center>✓</center></th>
    <th><p style="font-size:0.8em">Senza microG non funzionano le notifiche</p></th>
  </tr>
  <tr>
    <th>PosteID</th>
    <th><center>X</center></th>
    <th><center>✓</center></th>
    <th><p style="font-size:0.8em">Senza microG lsi avvia ma non permette il login</p></th>
  </tr>
  <tr>
    <th>Postepay</th>
    <th><center>✓</center></th>
    <th><center>?</center></th>
    <th><p style="font-size:0.8em">Non funzionano le notifiche. Non funzionano le mappe</p></th>
  </tr>    
  <tr>
    <th>ProtonMail</th>
    <th><center>✓</center></th>
    <th><center>✓</center></th>
    <th><p style="font-size:0.8em">Senza microG non funzionano le notifiche</p></th>
  </tr>
  <tr>
    <th>Ufficio Postale</th>
    <th><center>X</center></th>
    <th><center>?</center></th>
    <th><p style="font-size:0.8em">L'app si avvia ma non permette il login ed è praticamente inutile</p></th>
  </tr>    
</table>