<h2 class="major"><i class="fas fa-language"></i> Traduci</h2>
<p>Ovvero alternative a Google Traduttore. Una lista di siti e di applicazioni per tradurre senza utilizzare Google Traduttore.</b><br /><a href="https://www.lealternative.net/2019/10/24/alternative-a-google-traduttore/" target="_blank" class="linkorange">Qui trovi il nostro articolo completo.</a></p>
<h3><i class="fas fa-globe"></i>️ <a href="https://libretranslate.com/" target="_blank" class="linkorange">LibreTranslate</a></h3>
<p>Progetto nuovo molto promettente. Utilizza il motore open source Argos Translate.</p>
<h3><i class="fas fa-star"></i> <a href="https://lingva.ml/" target="_blank" class="linkorange">Lingva Translate</a></h3>
<p>Utilizzare Google Traduttore senza passare da Google? Grazie a Lingva Translate è possibile!</p>
<h3><i class="far fa-comments"></i> <a href="https://tatoeba.org/it/" target="_blank" class="linkorange">Tatoeba</a></h3>
<p>Una collezione di frasi e traduzioni: collaborativo, open source, gratuito e libero!</p>
<h2>Extra <i class="far fa-star"></i></h2>
<h3><i class="fas fa-link"></i> <a href="https://www.deepl.com/it/translator" target="_blank" class="linkorange">DeepL</a></h3>
<p><b>Non open source</b>. Uno dei migliori traduttori sul mercato. Non è open source e ha una privacy policy non perfetta, però potete utilizzarlo senza iscrizione!</p>
<h2>Estensioni e App <i class="fas fa-mobile-alt"></i><h2>
<h3><i class="fas fa-user-friends"></i> <a href="https://gikken.co/mate-translate/translator/" target="_blank" class="linkorange">Mate Translate</a></h3>
<p>Ottima alternativa che utilizza, in maniera anonima, anche le API di traduttori famosi come Google. Utilizzabile sia come <a href="https://gikken.co/mate-translate/translator/" target="_blank" class="linkorange">pagina web</a> che come ottima <a href="https://gikken.co/mate-translate/en/" target="_blank" class="linkorange">estensione per tutti i browser</a>.</p>
<h3><i class="fas fa-spell-check"></i> <a href="https://github.com/rdoeffinger/Dictionary" target="_blank" class="linkorange">QuickDic</a></h3>
<p>Applicazione per Android che vi farà da dizionario. Una volta installata potrete anche tradurre singole frasi trovate nei siti evidenziandole. Disponibile sul <a href="https://play.google.com/store/apps/details?id=de.reimardoeffinger.quickdic" target="_blank" class="linkorange">Play Store</a> e su <a href="https://f-droid.org/it/packages/de.reimardoeffinger.quickdic/" target?"_blank">F-Droid</a>.</p>